[2018-02-08 11:12] maddhruv opened #1 "Meeting regarding CD101 - 09/02/2018"
## Meeting regarding CD101
Points to discuss on -
- Distribution of duties (Classes, Monitoring, Attendance, PSs, Office Hours etc)
- Final Syllabus Audit
- Students filter process
- etc

Timings - 2:30 onwards

Venue - My room

Docs Link - https://docs.google.com/document/d/1zVGaRVnr5qSkr3snZT2YXUtHEVlnV6PYzBTnKRHCQSI/edit?usp=sharing

[2018-02-08 14:14] ShivSoni5 commented on #1
Tomorrow?

[2018-02-08 14:17] maddhruv commented on #1
Yes

[2018-02-08 14:23] ShivSoni5 commented on #1
Okay

[2018-02-10 06:39] ShivSoni5 commented on #1
Any progress?

[2018-02-10 06:39] ShivSoni5 commented on #1
Any progress?

[2018-02-10 06:40] ShivSoni5 commented on #1
Any progress?

[2018-02-10 06:40] ShivSoni5 commented on #1
Any progress?

[2018-02-10 06:41] ShivSoni5 commented on #1
Any progress?

[2018-02-10 07:33] maddhruv commented on #1
We will go to classes of IV sem CSE on Monday and will stick to the idea we discussed yesterday.
Filter students on different criteria

[2018-02-18 17:28] gauravjain99 opened #2 "Meeting regarding CD101 / 19/02/2018"
In this meeting, we are going to discuss the following :

1.  How to execute everything
2.  How all responsibilities will be shared

The venue will be Dhruv Jain's room
Timings --- 11:30 AM to 12:30 PM

[2018-02-18 17:32] maddhruv commented on #2
This is a common time for all of us.
Please everyone be present tomorrow, no excuses

[2018-02-18 17:36] 19ANDY commented on #2
sure sir

[2018-02-18 17:43] ShivSoni5 commented on #2
I'll be tuition at that time!

[2018-02-18 17:57] gauravjain99 commented on #2
Try everything in your power to be here at 11:30.

[2018-02-18 17:57] gauravjain99 commented on #2
Try everything in your power to be here at 11:30.

[2018-02-18 17:57] gauravjain99 commented on #2
Try everything in your power to be here at 11:30.

[2018-02-18 17:58] gauravjain99 commented on #2
Try everything in your power to be here at 11:30.

[2018-02-18 17:58] gauravjain99 commented on #2
Try everything in your power to be here at 11:30.

[2018-02-18 18:13] gauravjain99 commented on #2
My preferred venue is Cafeteria

[2018-02-18 18:17] maddhruv commented on #2
Cafeteria is a crowdy and public place.
How about finding a free lecture hall?

[2018-03-12 15:45] gauravjain99 opened #3 "Meeting regarding CD101 - 12/03/2018"
It has been long we haven't met. This meeting is focused on various new initiatives and changes in the community, problems students are facing and how to resolve them.
## Time
10:00 PM

## Agenda
- Regular classes of CD101
- Assignment submission problems
- Duties allocation revision for CD101
- New members to team
- Projects initiation
- Github activity summary of team members (also us)
- Website

[2018-03-12 15:45] gauravjain99 commented on #3
if anyone wants to add any other topic for discussion, please mention

[2018-03-12 15:47] maddhruv commented on #3
Sure, will be there

[2018-03-12 15:50] akshaysharma2277 commented on #3
Yup will be there.

[2018-03-12 15:58] Aksh-a1 commented on #3
will be here, in front of my webcam!

[2018-03-12 16:26] gauravjain99 commented on #3
join now - https://zoom.us/j/862219638

[2018-03-12 17:08] gauravjain99 commented on #3
https://zoom.us/j/924212566

[2018-03-14 19:12] maddhruv opened #4 "Membership Class"
The idea is to define various levels/classes for individual members of the Community so that we can set up a hierarchy for everyone, and also set up privileges for various repositories and duties.
Like - Board Members, CommComm (Community Committee) members, Contributors, Individual Members.
Please put some thoughts on it.

[2018-03-14 19:20] maddhruv opened #5 "Team members directory"
The directory includes a list of members - name, email, display picture, contact (email, GitHub, linkedin, facebook, twitter).

Shall we add all the individual members to the directory or just the CommComm members and contributors, meanwhile the membership classes/levels to be discussed in #4 ?
Also, should we build a separate profile page for every member like `/profile/maddhruv` so as to get a p

[2018-03-14 19:21] maddhruv commented on #3
@gauravjain99 can be closed?

[2018-03-14 19:21] maddhruv commented on #2
@gauravjain99 can be closed?

[2018-03-14 19:22] maddhruv commented on #1
@gauravjain99 can be closed?

[2018-03-14 19:24] prateekvijayvergiya commented on #5
I think separate profile page option should be there, so it will be more helpful for others.

[2018-03-14 19:28] maddhruv opened #6 "Designations for CommComm members on Chair"
Glad to see the community and work growing :smile:
I think we should now designate CommComm members @CodeDocsJECRC/community-committee to some positions and assign duties.
Again stating **no designation would be hierarchical, neither veto nor supreme powers shall be assigned to anyone**.

Positions I propose -
- CommComm Chair - Lead CommComm
- Github Chair - Lead Github organization and members p

[2018-03-14 19:45] maddhruv opened #7 "Add email"
@satan17 add your email address in the table and also update your name in the https://github.com/CodeDocsJECRC/society repository

[2018-03-14 19:51] maddhruv opened #8 "UI/UX Chapter"
The idea is to start a UI/UX Chapter just like Web and Android in CD101.
It would be beneficiary getting some UI/UX designers for building future projects (CodeDocs Android App).
There is no proposal as for now due to lack of information and resources.

[2018-03-14 20:39] ShivSoni5 commented on #8
We should wait for some time then.

[2018-03-14 20:46] maddhruv commented on #8
I know some people around the college who are good at Illustrator and Photoshop and are quite interested in UI/UX designing.
So, we can include them with us and start a new chapter with codedocs

[2018-03-15 11:02] ShivSoni5 commented on #6
M not in favour of any designation!

[2018-03-15 11:35] maddhruv commented on #6
The designations are not hierarchical but are actually duties allocation, who should govern which part and job!
So as that person can be named responsible for the task

[2018-03-15 12:43] maddhruv opened #9 "Meeting regarding upgrading some parts of CodeDocs - 16-03-2018"
The meeting is focused on various upgrades and additions to be done in CodeDocs.
## Time
22:00

## Agenda
- Membership class #4
- Team members directory #5
- Designations for CommComm members on Chair #6
Can be discussed
- UI/UX Chapter

## Invited Members
- @CodeDocsJECRC/community-committee

## Links
Zoom link - *will be shared before 5 minutes*

Google Docs Link - https://docs.google.com/docume

[2018-03-15 12:48] satan17 commented on #9
Done

[2018-03-15 12:50] maddhruv commented on #9
Also check #4, #5, #6

[2018-03-15 15:52] #2 closed

[2018-03-15 15:53] #1 closed

[2018-03-15 15:57] prateekvijayvergiya commented on #8
From my point of view, there is someone who can design UI/UX for app and website so they look similar and provide good environment for users and by which developers do not face any problem regarding UI.

[2018-03-15 16:05] maddhruv commented on #8
Do you know some people in the college who may be interested in UI/UX or may be Graphic Designing

[2018-03-15 16:05] maddhruv commented on #8
Do you know some people in the college who may be interested in UI/UX or may be Graphic Designing

[2018-03-16 16:24] ShivSoni5 commented on #9
Meeting?

[2018-03-16 17:08] gauravjain99 commented on #9
https://zoom.us/j/171177606
Join

[2018-03-16 17:54] gauravjain99 commented on #9
https://zoom.us/j/818511641

[2018-03-20 05:01] ShivSoni5 commented on #6
According to me, we should not assign the positions to any CommComm members. This can lead to conflicts in future.

[2018-03-20 05:44] ShivSoni5 commented on #5
We can add a field to the list for the language/technology he/she is expert in.
I think we should have a separate directory for Board Members and CommComm Members.
And yes we should build separate profile page for every member.

[2018-03-20 14:53] amanvijayv commented on #6
I think we can go with Dhruv's proposed positions, it will help us to divide the tasks very easily. It will help us to look more official. And members on those positions can guide volunteer under their guidance. Everyone agree??

[2018-03-20 14:53] amanvijayv commented on #6
I think we can go with Dhruv's proposed positions, it will help us to divide the tasks very easily. It will help us to look more official. And members on those positions can guide volunteer under their guidance. Everyone agree??

[2018-03-20 15:19] maddhruv commented on #6
+1 @amanvijayv

[2018-03-21 09:09] akshaysharma2277 commented on #6
I agree with @ShivSoni5 and @maddhruv  instead of assigning position, just divide the work between the team members.

[2018-03-24 16:08] maddhruv commented on #8
I have found some people interested in learning UI/UX and are very good at Graphics designing with Illustrator and Photoshop.
What do you say people!

[2018-03-24 16:10] maddhruv commented on #4
If there's no such objections from your ends, I should create some designation posts for CodeDocs members

[2018-03-24 16:12] maddhruv commented on #5
As no objections/discussions are raised and per #4, The teams directory would be filter or hierarchied with membership orders/sections

[2018-03-25 19:09] ShivSoni5 commented on #8
You said they are interested in learning UI/UX.
Our main motto is to start **UI/UX Classes**.
How are they going to teach others UI/UX?

[2018-03-26 02:22] maddhruv commented on #8
The question is how we gonna teach them (which are already limited in number) UI/UX
By providing videos, books, etc

This chapter will be very different from Web/Android as we don't have trained individuals in the field

[2018-06-01 03:04] #3 closed

[2018-06-01 03:04] #9 closed

[2018-06-01 03:58] AmanBansal1998 commented on #4
Okay , we will work on it

[2018-06-01 04:00] AmanBansal1998 commented on #4
Just want to ask about it from you , what are your plans .

[2018-06-01 04:03] AmanBansal1998 commented on #5
The aim is to make a new identity of members ☺️

[2018-06-01 04:08] AmanBansal1998 commented on #6
It is up to you , only.

[2018-06-01 04:11] AmanBansal1998 commented on #8
What if we provide links to learn themselves the concept of UI .
After some time we will tell the people about the overview , otherwise yes provide mentors  sounds good

[2018-06-11 17:08] maddhruv opened #12 "Community Committee Restructuring Effort Meeting - Discussion with Elected Members"
## Agenda

- [x] Discussion of duties and responsibilities you shall share.
- [x] Potential courses
- [x] Potential initiatives and events
- [x] Promotion, Outreach & orientation
- [x] How to deal with college authorities
- [x] Rest team & volunteers

## Invited
@accakks
@amritsrivastava
@samyak360

## Date and Time
TBD

[2018-06-11 17:21] maddhruv commented on #12
I am travelling these days a lot
cant say about the day at this point

[2018-06-11 17:25] accakks commented on #12
@maddhruv Just inform whichever day you're free this week. If its in evening after 8, would work for me on any day.

I said 8-9pm because if someone is interning or anything, they'd be free till this time.

[2018-06-14 07:42] samyak360 commented on #12
Any day after 8 would work for me as well.

[2018-06-17 13:01] accakks commented on #12
How about 19 June 8pm?

[2018-06-17 13:44] maddhruv commented on #12
Oh?
I am really very sorry
I forgot about this part!

Very busy these days, don't even brush in the mornings 😋

If I get a little time today, can I make a call if you all three are available

[2018-06-17 13:45] accakks commented on #12
Can you do after 9. I'm available.

[2018-06-17 13:52] maddhruv commented on #12
I can't say about my time 😓😓

[2018-06-17 13:55] amritsrivastava commented on #12
I'm not available today.
Can we do this discussion tommorrow b/w 10 am to 12pm

[2018-06-17 14:03] maddhruv commented on #12
I will have to look out!
Will be travelling tomorrow, can't say anything

[2018-06-17 15:08] samyak360 commented on #12
Even I am not available today . We should do this discussion on 19 then.

[2018-06-17 16:27] maddhruv commented on #12
feel free to add agenda items in the description.

[2018-06-20 17:36] maddhruv commented on #12
have edited the agenda's items to _done_

[2018-06-20 17:37] maddhruv commented on #12
The meeting is done on the phone
no minutes were recorded

Closing

[2018-06-20 17:37] #12 closed

[2018-06-20 17:42] accakks opened #13 "Orientation"
We need to have a proper orientation, where we'd roughly introduce students with CodeDocs guidelines, and initiatives for this semester.
For second and third year, this can be done between mid-july to before august 1.

We can also upload the presentation on youtube for those who missed.

[2018-06-20 17:44] accakks opened #14 "Courses to initiate"
Lets list some courses that we can initiate this semester.
These can be:

- **Courses** : The ones that require student enrollment. Lectures > 2
- **Extra topics/sessions**: Independent. Required lectures <2. Enrollment would subject to respective topic.
For example, `Introduction to Git` may require only enrolled students. But an `Informative session on GSoC`  won't.

[2018-06-20 17:49] samyak360 opened #15 "Methods to indulge students in CodeDocs activities-Discussion"
What should be done to increase the active participation of students in CodeDocs activities?

[2018-06-20 17:52] maddhruv opened #16 "meeting time & frequency"
let's decide a particular time of the day - we all are available on any day

## Frequency -
- [ ] twice a week
- [ ] once a week
- [ ] every two weeks
- [ ] once a month
- [ ] on call

## Time -
Striclty one hour or so
- TBD

[2018-06-20 17:52] maddhruv commented on #13
are we talking about a proper presentation or more of an interactive in-person orientation - like showcasing kinds of stuff, people, achievements, facts and how to do all this?

more of a mentoring or getting involved session - asking bigger questions -
- **how this will help you in getting a good job?**
- build resume?
- contributing to open source
something like that!

[2018-06-20 17:56] accakks opened #17 "Social media activity."
Platforms
- [ ] Facebook
- [ ] Twitter
- [ ] Instagram*
- [ ] Blog

People for responsibilities
- [ ] Facebook & Instagram content writer
- [ ] Blog manager
- [ ] Twitter manager
- [ ] Photographer (A person with good phone camera would do, not necessarily DSLR guys.
- [ ] Graphic designer

[2018-06-20 17:59] maddhruv commented on #15
The major problem we faced in the past was this. :arrow_up:
Actually, the best solutions one can get for such a community are - Slack, GitHub, Trello, etc. but most of the included audience is not active or don't know about these tools, which is a very weak point.

There could be two solutions for this -
- get into more familiar tools - WhatsApp kinda - which are handy to everyone - but is the wor

[2018-06-20 18:04] accakks opened #18 "Other events and initiatives"

[2018-06-20 18:06] maddhruv commented on #14
A proposed list of courses we already had prepared -
### courses
- Intro to Git and GitHub - so that the future lectures and sessions can be completed with ease for assignments and rollouts
- Introduction to Web and Android - are most fascinating, covers half of the industry, easy to learn at a beginner stage, tutors know the stuff well and good.
- Introduction to devOps and cloud part - easy to d

[2018-06-20 18:06] accakks commented on #15
- **Open space every weekend:** An informal discussion in a classroom, no agenda, anyone can speak up. We need to start conversations in first 1-2 open spaces. sharing opportunities, making them realise that even from JECRC, they can achieve big things etc.
- **Interesting activities and contests**
- **Social media** Amazing social media channels inspires people.  #17
- **Interesting names & graph

[2018-06-20 18:09] accakks commented on #15
We can include tools and all to be used in orientation presentation. @maddhruv

[2018-06-20 18:11] maddhruv commented on #17
The facebook exists at - https://www.facebook.com/CodeDocsJECRC/
and twitter at - https://twitter.com/codedocs

Let's form a team, call for members and volunteers

[2018-06-20 18:16] maddhruv commented on #17
What can we do?
- share good and useful blog posts, resource - get students involved with the page
- share **links to trending open source projects**
- write regular blog posts from individual members inside the CodeDocs collection on medium.
- report posts on the official blog
- instagram should be occasional - like when event do share

What we should not do -
- share coding quotes
- share wallpa

[2018-06-20 18:16] maddhruv commented on #18
can you please elaborate more of the things

[2018-06-20 18:17] accakks commented on #13
- I think orientation can include above points under `Why get involved in community`
- We can announce courses etc we have planned this sem.
- Tools and guidelines
- And a basic idea of how a open source community works, and how anyone can get involved.

[2018-06-20 18:18] maddhruv commented on #15
can you elaborate more of this part
what kind of name are you referring to?

[2018-06-20 18:20] maddhruv commented on #13
+1

for what basically? :confused:

[2018-06-20 18:29] accakks opened #20 "Open source projects under CodeDocs"
We need to create certain guidelines for above

[2018-06-20 18:30] maddhruv commented on #18
a good work we can do
but the biggest constraint I feel here is what yield to more number of _summer of codes_ then _winter of codes_ - winter breaks are smaller than summer

[2018-06-20 18:33] maddhruv commented on #18
somewhat same we had planned with **CD101** - a _project fair_ - the minor projects students gonna build in CD101 will be showcased to fellows, teachers or maybe parents

this would not only make them more enthusiastic towards building greater solutions and tools, but also a showcase of potential and work from the students can be presented to the outer world - **companies** for placements, parents

[2018-06-20 18:34] maddhruv commented on #20
will prepare an intuitive PR for the same

[2018-06-20 18:37] maddhruv opened #21 "record/minute meetings"
Record video or audio of meetings or
take minute notes for the meetings for future references and people who wanna get involved in discussions can catch up later if not attended the meeting

[2018-06-20 18:38] maddhruv commented on #21
**hackmd.io** is a wonderful tool we can use for the minute taking - collaborative markdown editor and we can publish the notes like a blog post or article.

[2018-06-20 18:39] accakks commented on #18
Okay, see there are two different reasons for winter of code and summer of code prorgams.
1) Summer of Code programs can be longer, and more can be built. These programs can be independent program in their own, and a bigger deal than winter of code. We can have people building whole projects during this time. We can even arrange some incentives/ goodies for participants through sponsors here.
2) W

[2018-06-20 18:41] maddhruv commented on #18
okk a little into wordings here
- summer - something warm, energetic and vibrant
- winter - something cool, less energetic and slow

plus if there's the only introduction and getting familiar with something or other, why winter of **code** then?

[2018-06-20 18:43] accakks commented on #13
Tools we're gonna use & why are we gonna use them.
like in dgplug summer training, irc is used. Why? Because that's what devs use.

Guidelines on how we are gonna operate. How our courses would work. What can they do to get maximum out of it.

[2018-06-20 18:44] maddhruv commented on #18
even if we need to get a job done in this time - get students to work on a project even 6 weeks (summer of code) is a shorter time I feel so the time we can get in the winters would be even smaller and not sufficient.

it takes about a week in understanding a project to a normal intermediate develope out there. other 1-week writing codes and getting trust from the maintainer

[2018-06-20 18:49] accakks commented on #18
Basically winter of code is a contest, to solve issues and contribute to projects rather than working on open source projects. Just for preparation.
We can have this in January month and announce projects around 22-23 December. And courses for that sem could be lesser.
Instead we can have sessions on advanced topics, continue with open space, help each through internship applications, invite peopl

[2018-06-20 18:55] accakks commented on #15
Like using cool words like 'hackers' and cool graphics on social media.
Using attractive names for sessions.

Like there was some talk named something like `.....combat Man-in-the-middle attack.`

So If we wanna have a session for security and stuff, We can name it like that and have nice graphic for the same.
Content is effective too. Including hacker references from movies etc etc etc

This is o

[2018-06-20 18:58] accakks commented on #17
Call on whatsapp and facebook? Through our page on facebook? Or  maybe post this issue link on whatsapp and whoever interested can pick tasks up?

[2018-06-20 19:00] maddhruv commented on #17
on the two WhatsApp groups as well as mouth wordings to friends and acquaintances.
moreover, we don't have many followers over facebook/twitter.

[2018-06-21 03:56] AmanBansal1998 commented on #6
I will be for github chair .

[2018-06-21 04:12] maddhruv commented on #6
i cannot understand for this part

[2018-06-21 04:20] maddhruv opened #22 "delete/archive assignments repositories"
The course is over and even the repositories do not contain healthy and worthy contents to be there.

the two things:
- deleting them will be a questionable thing that the assignments which are done are also remove
- archive them will work but still we will have many repositories for no purpose.
- the mixed option - delete the repositories which do not have content - assignments not done

Also, li

[2018-06-21 04:33] maddhruv opened #23 "publish year calendar"
Let's prepare a proposed schedule and events for this session/year
add courses, hackathons, project fairs, meetups and events.

Preparing a rough schedule will not only help the team stick to a guideline and ideology but also will involve more of the audiences as they will have a pre-notice of the event coming.

#### How will we do that?
- Google Calendar
- and a photo kind of calendar - how we us

[2018-06-21 08:39] accakks commented on #20
@Man-Jain There is no limitations as such in category or tech stack. Anyone in college can propose for starting open source project under CodeDocs and get community that contributing in those projects.

We're in process of creating guidelines for the same.

[2018-06-21 08:47] accakks commented on #23
I guess we can work in this after we are sorted with mentioned issues, and for offline events talked to college authorities?

Let's finalize upcoming events/courses etc and do this by 30th june.

Then we can talk to college authorities & start working on orientation preparation/ kickstarting event.

@CodeDocsJECRC/community-committee

[2018-06-21 08:47] accakks commented on #22
I'd work on this if anyone else doesn't take up in 2 days.

[2018-06-21 09:58] maddhruv commented on #22
actually, whosoever comes ahead will have to be given the rights to the org.

[2018-06-21 12:33] Man-Jain commented on #20
Okay, Thank you for the reply.

[2018-06-21 12:39] Man-Jain commented on #21
Will it be a collaborative work or any particular person will be responsible for the task of taking these notes?

[2018-06-21 12:42] maddhruv commented on #21
Anyone who is attending the meetings can volunteer, we can't allocate a duty to someoone

[2018-06-21 12:53] Man-Jain commented on #21
Will there be guidelines on what to note down or else the notes could become improper given the fact that everytime a new person will be taking them.

[2018-06-21 13:16] maddhruv commented on #21
Minutes are like - what he/she has said in the meeting

[2018-06-23 16:50] amritsrivastava commented on #23
I think we have to wait for this part. First, we have to elect some team members so we have more peoples to discuss regarding projects and courses.
Later, we can also publish this calendar on our website.

[2018-06-23 16:52] amritsrivastava commented on #22
I'm going to work on this.

[2018-06-23 16:54] maddhruv commented on #22
Please do list the repos here @accakks @amritsrivastava

[2018-06-23 16:54] maddhruv commented on #23
+1

[2018-06-23 17:32] amritsrivastava commented on #21
We can assign this task randomly in every meeting and not very much skills are required to write minutes of meeting.

[2018-06-23 17:45] amritsrivastava commented on #17
Once we update our CodeDocs handles we can invite our friends from our personal handles this will help us to increase our reach.

[2018-06-23 17:45] accakks commented on #22
@amritsrivastava Somehow I can't assignment you. Please assign yourself.

[2018-06-23 17:48] accakks commented on #17
A few people are willing to take up social media tasks.
Twitter, I'll handle myself.
@maddhruv can you update us on handles.

[2018-06-23 17:49] amritsrivastava commented on #16
I think in the initial stage we should do it twice a week later we can do once in a week.

[2018-06-23 17:56] maddhruv commented on #17
will talk to other people who has the facebook admin and other
will have to reset the password for twitter :bird:

[2018-06-23 18:03] amritsrivastava commented on #15
We can motivate students for using these techs tools by telling them the benefits they get in their career.

[2018-06-23 18:09] amritsrivastava commented on #13
I think we should not announce the courses and tech stacks in the orientation. As this will create confusion in the newbies. Let them first reach to us.

[2018-06-23 18:12] maddhruv commented on #16
@accakks check the doodle

[2018-06-23 18:14] accakks commented on #13
This orientation is for 2nd year students.
Basically doesn't need to be a big hot shot event, just a basic introduction of what we're gonna do this year, what is open source community, & some guidelines. So that they really get the idea.

We'll start classes anyways from August, after 1st year comes. (In case we don't set limitations)

This can be done from seminar hall to LTs anywhere. Not an iss

[2018-06-23 18:15] amritsrivastava commented on #7
@samyak360 kindly update your details in the society repo.
https://github.com/CodeDocsJECRC/society

[2018-06-23 18:15] accakks commented on #13
I don't see how clearing things at the start would create confusion.
And it's even greater for first year, this orientation & open space discussions.

You need to be confused to find your way.

[2018-06-23 18:19] amritsrivastava commented on #22
@accakks I am also not getting the option of assigning it to me.
I request @maddhruv to assign it to me.

[2018-06-23 18:55] samyak360 commented on #7
I am having my details in the members list

On Sat, Jun 23, 2018 at 11:45 PM, Amrit Srivastava <notifications@github.com

[2018-06-24 03:50] amritsrivastava commented on #7
Actually I attached the wrong link, update your details here https://github.com/CodeDocsJECRC/community-committee

[2018-06-24 03:50] amritsrivastava commented on #7
@satan17 also update your email here https://github.com/CodeDocsJECRC/community-committee

[2018-06-24 04:34] satan17 commented on #7
access denied to @satan17

On Thu, Mar 15, 2018 at 1:16 AM Dhruv Jain <notifications@github.com> wrote:

[2018-06-24 04:37] amritsrivastava commented on #7
Make a PR.

With Regards,
Amrit Srivastava

On Sun, 24 Jun 2018, 10:04 a.m. Aayush Goyal, <notifications@github.com>
wrote:

[2018-06-24 04:49] maddhruv commented on #7
@satan17 do via a forked repo,

[2018-06-24 06:00] accakks commented on #14
Let's finalise on courses and content @maddhruv  @amritsrivastava alongwith details & timeline , so that we can start looking for mentors for each. #19
And they get time to prepare.
We'll also need to talk to college authorities in July itself.

[2018-06-24 06:31] maddhruv commented on #14
@accakks submit a PR named CD201.md
And that shall be the course for this session

[2018-06-24 11:48] Akshaygagrani commented on #15
I think we must work upon the past mistakes the major reason of the inactiveness of the student with code-docs in the previous session was the irregularity and the failure of not providing the full course accomplishment and regularity with all work and assignment, simultaneously on our side we know we were not able to give the proper time and knowledge to them because of college permissions, activ

[2018-06-24 13:44] amritsrivastava commented on #7
@maddhruv kindly close this issue.

[2018-06-24 14:14] accakks commented on #15
@Akshaygagrani
True. This is the reason we're planning for proper orientation before we start, so that first students realise importance of community , how to give time, how it works etc.

+ We're planning to complete classes in odd sem, & even sem would be for advanced topics & activities. Since this semester is less disturbed, it would be good to have classes now.

I like the YouTube idea. We'll

[2018-06-24 15:44] maddhruv opened #26 "CommComm Meeting - 25/06/2018 - 20:30-21:30"
## Agenda
- Introducing Mascot #10
- Orientation #13
- Courses to initiate #14
- Methods to indulge students in CodeDocs activities #15
- New members inclusion #19
- Open source projects under CodeDocs #20

## Invited
- @maddhruv - Dhruv Jain
- @accakks - Aakanksha Jain
- @amritsrivastava - Amrit Srivastava

[2018-06-24 17:52] accakks commented on #26
#21 Remind me of taking notes tomm

[2018-06-24 17:55] Akshaygagrani commented on #15
I agree that this semester is odd and the work load will be less we can plan the classes easily further I would like to add that we need recognition in our upcoming 2nd and 1st year because if we do not get active persons from upcoming 2nd year(this have to be our first main goal in order to rise the group) else the group will not be able to become eternal and indulge the 1st year because they won

[2018-06-24 17:59] accakks commented on #15
@Akshaygagrani If you would like to give any suggestion for orientation -> #13

[2018-06-25 06:09] #7 closed

[2018-06-25 18:23] accakks commented on #26
MoM added #25

[2018-06-25 18:23] #26 closed

[2018-06-26 15:29] Abhimanyu121 opened #27 "CodeDocs app"
I want to Lead the CodeDocs app(android one). I will push initial code soon

[2018-06-30 13:51] aditya98ak commented on #14
@maddhruv @accakks @amritsrivastava
What about these?
Django, Building API's using django-rest-framework
And python for data science ( data analysis, visualization via numpy, pandas, matplotlib, seaborn, plotly etc)
And basic introduction to ML models via scikit-learn and their intuition?

[2018-06-30 13:54] amritsrivastava commented on #14
@aditya98ak we are planning to include these topics too, you will soon get notified about these.

[2018-06-30 14:54] aditya98ak commented on #14
@amritsrivastava Cool, will be waiting for it!

[2018-07-01 08:30] accakks opened #28 "Communication platform for CodeDocs"
Currently we have two whatsapp groups.

I suggest using **telegram**

- Group members limit is `10000`
- Admin can `delete` messages
- As `easy to use` as WhatsApp, unlike slack etc
- Options for `poll, bot` etc

[2018-07-04 17:36] accakks opened #29 "CommComm Meeting - 6/07/2018 - 20:30-21:30 #26"
## Agenda
-  Mascot changes #10
-  Course announcement CD201 & Call for mentors #14
-  CD202 first events #14
-  Orientation event finalise #13
-  Communication channel for CodeDocs #28

## Invited
- @maddhruv - Dhruv Jain
- @accakks - Aakanksha Jain
- @amritsrivastava - Amrit Srivastava

[2018-07-04 18:16] accakks commented on #29
@Man-Jain @Abhimanyu121 @Akshaygagrani @soumilk @nd-singh Would you like to join?

[2018-07-04 19:11] Akshaygagrani commented on #29
I am pretty occupied in my real sister wedding will come back to college few days later not possible for me to make out  this time

[2018-07-04 19:46] Man-Jain commented on #29
Yes, I would like to join the meeting.

[2018-07-04 20:03] Man-Jain commented on #28
I think that we should continue using Slack only as it is more professional than using Telegram. Telegram feels to be an odd choice for a team collaboration app. Also Slack is used more professional environments. So it would be good for us to get familiar with using it.

[2018-07-04 20:58] accakks commented on #28
Yes we had slack earlier but no one responsive so for time being, created Whatsapp groups. Slack also has some notifications problems. Lets discuss this more on 6 July meeting.

[2018-07-05 00:14] Abhimanyu121 commented on #29
Yes , I too would like to join the meeting 😁

[2018-07-05 01:02] soumilk commented on #29
Yes, I m in

[2018-07-06 09:36] accakks commented on #29
I'll share zoom link 5 minutes before the meeting start time, please check this Issue for the same at meeting time.

[2018-07-06 15:03] accakks commented on #29
@maddhruv @amritsrivastava @Man-Jain @nd-singh @Abhimanyu121  @soumilk
https://zoom.us/j/139380434

[2018-07-06 15:10] maddhruv commented on #29
https://zoom.us/j/307771822

[2018-07-06 15:44] accakks commented on #14
@aditya98ak Can you propose 7-9 lecture plan for your proposed course. Include basics of Python

[2018-07-06 15:56] maddhruv commented on #29
https://zoom.us/j/898906731

[2018-07-06 16:30] aditya98ak commented on #14
@accakks  I can propose a course 'Fast Track to Python' that will be sufficient to explore python-frameworks.
Is that fair enough?
and after fast track to python. We can pivot to Django or data-science.
What say? @maddhruv @accakks @amritsrivastava

[2018-07-06 16:40] accakks commented on #14
What I was talking about is maybe just one 1-1.5 hour lecture for Python introduction. You'll just have to introduce basics.

A separate course might not be necessary.

You can check out design of web course on CD101.

It can be 8-9 lectures.

See after classes, there would be resources for self study, and assignment to learn what class was all about. There'd be 2 classes per week only.

I don't t

[2018-07-06 16:47] aditya98ak commented on #14
@accakks Okay, I'll share a doc for the course(s) and one 1-1.5 hour lecture for Python introduction.

[2018-07-07 07:56] Man-Jain commented on #29
Sorry @maddhruv @accakks couldn't attend the meeting. I was out somewhere and also didn't had access to internet.

[2018-07-08 05:35] nd-singh commented on #29
sorry, @accakks @maddhruv I was not able to join you all as I was out that time.

[2018-07-08 05:40] accakks commented on #29
Np. @Man-Jain @nd-singh Will tag you when next one happens.
Btw @nd-singh Can you head over to CD201 repository and give suggestions if any other topic needs to be included in Android. (Checkout accakks-patch-1 branch)

@soumilk Can you have a look at UI/UX course. Or anything else you do.

@Man-Jain I don't know your specialization, but checkout the branch if you have any suggestions.

We'll also

[2018-07-08 05:59] nd-singh commented on #29
@accakks sure!

[2018-07-08 17:43] soumilk commented on #29
@accakks  yup sure

[2018-07-08 17:52] soumilk commented on #8
I would like to handle this task, as I am not a professional or certified but yes can provide a really good insight about the Photoshop CC.

[2018-07-13 20:19] Man-Jain commented on #29
Yea sure

[2018-07-23 11:24] accakks opened #30 "CommComm Meeting - 23/07/2018 - 20:30-21:30"
## Agenda
-  Final CD201 updation on website, classes frequency & time and start date, Permissions.
-  2nd, 3rd year Orientation all themes finalise & permissions & presentation work start  + Orientation date finalise
-  Orientation (Linux day or similar) & Courses/Workshops for first year
- GitHub & Slack for all team communications - Quick discussion

## Invited
All team members & mentors

[2018-07-29 06:35] #28 closed

[2018-07-29 06:36] #30 closed

[2018-07-29 06:36] #27 closed

[2018-07-30 09:51] accakks opened #31 "CommComm Meeting - 30/07/2018 - 20:30-21:30"
### Agenda
- Beginning Promotion & tasks division
- Decision on class start date & methodology
- A brief about orientation -> GSoC event change

### Attendees
CodeDocs team

### Meeting Link

[2018-07-30 10:31] maddhruv commented on #31
The same would be on zoom or phone?

[2018-07-30 13:40] amritsrivastava commented on #31
I think zoom would be a better option, if there are more peoples.

[2018-08-04 04:08] maddhruv opened #32 "[proposal] JECRC Website"
Revamping the JECRC website into an open source and community driven website that shall contain more available facilities and options to the college -
Some of the proposed features can be -
- **Department wise sections**
    - News
    - Posts
    - Time tables
    - Notes from faculties
    - calendar
    - activities
- Administration
- Faculties Directory
    - Contact details (mail, phone)

[2018-08-04 04:10] maddhruv commented on #23
Is there any update on this?

I am expecting a Google Calendar (codedocs) and a image calendar

[2018-08-04 04:10] #31 closed

[2018-08-04 04:11] maddhruv commented on #22
@amritsrivastava can this be closed?

[2018-08-04 04:11] maddhruv commented on #21
are we using some medium for minutes?

[2018-08-04 04:16] maddhruv opened #33 "[initiative] interview alumni and students who have achievements"
Interviewing alumni and students (startups, achievements) about their life in college, how they have achieved this positions etc

#### Frequency
once two weeks

#### Who?
call for a good speaker having good communication skills

#### Where?
either on hangouts or zoom and record it

#### Publish?
YouTube channel (!facebook, !instagram)

[2018-08-04 09:06] accakks commented on #23
We prepared a calender earlier, but final one will be prepared according to when are we starting classes. (After getting some responses)
After  that we'll also prepare image one

[2018-08-04 09:09] accakks commented on #33
There are many alumnis, but I guess we should prefer the ones who made it in Computer science only! Right?

[2018-08-04 09:11] accakks commented on #17
No one showed up for social media responsibility, we posted earlier on whatsapp group. Currently, I'm handling social media channels.

Aman Bansal asked for instagram.

[2018-08-04 09:11] #14 closed

[2018-08-04 09:28] maddhruv commented on #33
Not exactly in computer science but also the ones who are at good positions in companies, have their own startups
And even
Current students who have achieved something or other

[2018-08-04 09:29] maddhruv commented on #17
You can carry on the job for about 1-2 months, we will handle over the responsibility to other team members after the period

[2018-08-07 02:26] accakks commented on #32
@maddhruv People are already building college & department website which is 75% complete by now as Amrit told me yesterday.
Almost similar to the one you are proposing.

[2018-08-07 02:31] maddhruv commented on #32
who are these people?
which all departments are they covering?

[2018-08-07 02:33] accakks commented on #32
All departments. 8-10 people I guess.
They've been working from a month.
Amrit, Aditya, Arpit are part of team.
I guess I told you about this.

[2018-09-02 13:53] aditya81070 commented on #32
@accakks Please check codeDocs content at [jecrc website](https://jecrcwebsite.herokuapp.com) in computer science and if you find anything to add please tell me.

[2018-09-02 14:41] accakks commented on #32
Looks good to me @aditya81070

[2018-09-03 06:34] aditya81070 commented on #32
@accakks  okay then.

[2018-09-03 06:35] aditya81070 commented on #32
@maddhruv  closing this issue as the website has hosted.

[2018-09-03 06:35] #32 closed

[2018-09-04 16:26] akshaysharma2277 opened #35 "webApp from front-to-back Open Source Project"
Have you ever wondering on how to build E-commerce Web application?

This is an open source project which, I suggest to start for codeDocs community in which one will contribute to a step by step website like **Amazon/Flipkart/Snapdeal** with the latest cutting-edge technology and that is Node.js

Here we will use Javascript on both the backend and frontend of the web application.

 If the interes

[2018-09-04 20:07] nd-singh opened #37 "To develop a payment Gateway for JECRC college Events"
Whenever an event takes place in our college, the fees to be taken from the students is through different mediums such as cash, paytm etc. and record of each of these payments have to be kept separately and finally submitted to the faculty coordinator. Why not have a common platform for all the events (maybe an app or website) where the fees or any contribution can directly go to concerned person?

[2018-09-05 17:03] Man-Jain opened #38 "Develop an Attendance Management System"
At present the Attendance of each student is manually taken by teachers and then updated online. This doubles and even triples the effort and makes it very difficult and time-consuming for teachers. The college is now seeking for a fully software solution. We can develop an open source project for the same.

# User Requirements:-

These are the basic user requirements more can be found out by aski

[2018-09-23 06:40] maddhruv commented on #35
e-commerce is a wonderful idea to go with but I would recommend the centralized college website regarding the use case and impact from the community - #32
/cc @CodeDocsJECRC/members

[2018-09-23 06:43] maddhruv commented on #37
@nd-singh @CodeDocsJECRC/android @CodeDocsJECRC/community-committee
please proceed :arrow_right:  https://github.com/CodeDocsJECRC/JECRC-Pay
Best of luck :smile:

[2018-09-23 06:43] #37 closed

[2018-09-23 06:44] maddhruv commented on #38
@Man-Jain @CodeDocsJECRC/android @CodeDocsJECRC/community-committee
Please proceed :arrow_right: https://github.com/CodeDocsJECRC/JECRC-Attendance
Best of luck :zap:

[2018-09-23 06:44] #38 closed

[2018-09-23 20:08] accakks commented on #35
@maddhruv College website has been built and launched just a few days back.

@akshaysharma2277 @maddhruv Can we have a JECRC student portfolio website. Or to be more precise, CodeDocs student portfolio kind of.

What I'm proposing is a 'HIRE US' page. With one page showing all CodeDocs members in thumbnails, with major skills listed under the thumbnail. `Learn More about Me` button under it all, w

[2018-09-23 20:11] accakks commented on #37
@nd-singh  I guess you might be having some code ready for this right? You can prepare contributing guidelines and push it. (Assuming you built something like this in IT Hackathon)

[2018-09-24 01:27] maddhruv commented on #35
dear, it is not what I am proposing
please check again

[2018-09-24 01:28] maddhruv commented on #35
https://github.com/CodeDocsJECRC/username.github.io
I started doing it but couldn't finish

[2018-09-25 11:49] nd-singh commented on #37
@accakks yes I have built the code in the IT Hackathon I will be pushing it soon!

[2018-09-25 12:04] nd-singh commented on #37
@maddhruv @accakks @Abhimanyu121 @soumilk @ukigos I would like to know that payment's gateway Integration requires some business documents proofs for eg: In my app, I had integrated paytm's SDK which was giving credentials only to the merchant account holder but for the developers, it provides sandbox credentials which can be used as testing and staging. So I used the sandbox credentials for testi

[2018-09-25 14:14] maddhruv commented on #37
Please discuss all these issues in the repository I have created for the same.
Hope to see you there

[2018-09-26 18:02] akashlakhera commented on #23
@maddhruv
Let's extend this issue to list all the tentative events we will be organising for the year instead of creating a new one.

[2018-09-27 00:29] maddhruv commented on #23
Sure thing!
Will try to do a meeting today or tomorrow